<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lomba.quizku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoquiz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.lomba.quizku.MainActivity"
            android:theme="@style/NoBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lomba.quizku.QuestionsActivity"
            android:theme="@style/Soal">

        </activity>

        <activity
            android:name="com.example.lomba.quizku.ResultActivity"
            android:theme="@style/NoBar"
            ></activity>
        <activity
            android:name="com.example.lomba.quizku.metikActivity"
            android:theme="@style/NoBar"
            />

        <activity
            android:name="com.example.lomba.quizku.ipaActivity"
            android:theme="@style/NoBar"
            />
        <activity
            android:name="com.example.lomba.quizku.resultmetikActivity"
            android:theme="@style/NoBar"
            />
        <activity
            android:name="com.example.lomba.quizku.resultipaActivity"
            android:theme="@style/NoBar"
            />
        <activity
            android:name="com.example.lomba.quizku.bindoActivity"
            android:theme="@style/NoBar"
            />
        <activity
            android:name="com.example.lomba.quizku.resultbindoActivity"
            android:theme="@style/NoBar"
            />
    </application>

</manifest>